@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@using PRN221_Project_ShopOnline.Models;

@{
    //Get data
    List<Cart> carts = (List<Cart>)ViewBag.Carts;
    String totalPrice = ViewBag.TotalPrice; 
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!--Favicon-->
    <link rel="icon" type="image/png" href="image/faviconLogo.png" />
    <title>Computer ERA</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!--Custom Style-->
    <link href="~/css/ShowCart.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <!--Menu-->
    @Html.Partial("MenuBar")

    <h1 id="CartHeader">CART</h1>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Image</th>
                    <th scope="col">Price</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <!--List Cart-->
                @foreach (Cart cart in carts)
                {
                    <tr>
                        <th scope="row">@cart.Product.ProductId</th>
                        <!--Click to ProductDetail-->
                        <td>
                            <a href="/ProductDetail/Index?ProductID=@cart.ProductId">
                                @cart.Product.ProductName
                            </a>
                        </td>
                        <td><img src="/image/@cart.Product.ImageLink"></td>
                        <td>@cart.Product.GetPriceWithDot() VND</td>
                        <td>@cart.Amount</td>
                        <td><a href="/Cart/DeleteProductInCart?ProductID=@cart.ProductId" type="button" class="btn btn-outline-info">
                            Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <!--Total Price-->
            <button type="button" class="btn btn-warning">Total</button>
            <button type="button" class="btn btn-outline-primary">@totalPrice VND</button>
        </div>
        <div>&emsp;</div>
        <!--To Finish-->
        <div><a type="button" href="/Cart/Buy" class="btn btn-info btn-lg">Pay</a></div>
        <!--Delete all Cart-->
        <a type="button" href="/Cart/DeleteCart" class="btn btn-danger" style="float: right">Delete Cart</a>
        <div>&emsp;</div><div>&emsp;</div><div>&emsp;</div>
    </div>

</body>
</html>
